<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HouseLoanCal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>292CB4B21BC6369B003C0897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>295B35241B5DD155006B9A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>295B353D1B5DD155006B9A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
